{% extends "base.html" %}
{% block content %}

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Politecnico di Torino</h2>
          <p class="lead">A great university!</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://www.lep.polito.it/prinsalute/polito_logo.gif" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
        	          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image" src="http://flask.pocoo.org/static/logo/flask.png">
        </div>
        <div class="col-md-7">

          <h2 class="featurette-heading">We use Flask</h2>
          <p class="lead">It is great, isn't it?</p>

        </div>
      </div>

      <hr class="featurette-divider">
{% endblock %}